/.idea
/nbproject
.DS_Store
.DS_Store?
/vendor/*
/typo3cms
/phpunit
/.env
msi.iws
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.svn
.sass-cache

/build/cache/*
!/build/cache/.gitkeep
!/build/cronjobs
/build/log/*
!/build/log/.gitkeep
/build/mailbox/*
!/build/mailbox/.gitkeep
!/build/patches

/shared/*
!/shared/Data/fileadmin/.gitkeep
!/shared/Data/uploads/.gitkeep

/web/typo3conf/*
!/web/typo3conf/LocalConfiguration.php
/web/typo3conf/AdditionalConfiguration.php
!/web/typo3conf/ext
!/web/typo3conf/l10n
/web/typo3conf/ext/*
# !/web/typo3conf/ext/<your_site_package>

/web/FIRST_INSTALL
/web/index.php
/web/.htaccess
/web/fileadmin
/web/uploads
/web/typo3temp
/web/typo3